<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mac Minimart</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Welcome to Mac Minimart</h1>
    <a href="{{ url_for('products') }}">View Products</a>
    <a href="{{ url_for('transactions') }}">View Transaction</a>
</body>
</html>
